{% extends 'base.html' %}

{% block content %}
    <form id='todo-form' method='post'>
    {{ form.media }}
    {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-8">
                {{ form.title }}
            </div>
            <div class="form-group col-md-2">
                {{ form.duedate }}
            </div>
            <div class="form-group col-md-2">
                {{ form.priority }}
            </div>
        </div>
        <div class="form-group">
            {{ form.content }}
        </div>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}<strong>{{ field.errors|escape }}</strong>{% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <input class='btn btn-success' type='submit' value='완료'>
        {% if todo %}
            <a href="{% url 'todo:delete' todo.pk %}">삭제</a>
        {% endif %}
    </form>

{% endblock %}
{% block script %}
<script>
$(function(){

    $( "#id_duedate" ).datepicker( $.datepicker.regional[ "kr" ]);
})
</script>

{% endblock %}