{% extends 'base.html' %}
{% block content %}
<div id="todo-list-page">

    {% if expired %}
        {% include 'todo/expired_alert.html' %}
    {% endif %}

    <div class="todo-control-row mb-2">
        <a href="{% url 'todo:create' %}" class="btn btn-success">추가</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                정렬
            </button>
            <div class="dropdown-menu" aria-labelledby="sort-menu-button">
                <a class='dropdown-item' href="{% url 'todo:list'%}?sort_by=-priority">우선순위</a>
                <a class='dropdown-item' href="{% url 'todo:list'%}?sort_by=-created">생성날짜</a>
                <a class='dropdown-item' href="{% url 'todo:list'%}?sort_by=duedate">마감기한</a>
            </div>
        </div>
    </div>

    <div class="todo-list">
        {% for todo in alive %}
            {% include 'todo/todo-item.html' %}
        {% endfor %}
    </div>

    <hr>
    <a id='toggle-show-done' data-toggle="collapse" href="#done-todo-list" role="button" aria-expanded="false" aria-controls="done-todo-list">
        완료된 할일 보이기
    </a>

    <div class="collapse todo-list" id="done-todo-list">
        {% for todo in done %}
              {% include 'todo/todo-item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(function(){

    $('.todo-list .card').hover(
        function(){
            $(this).addClass('shadow-sm')
        },
        function(){
            $(this).removeClass('shadow-sm')
        })

    var ShowDoneButton = $('#toggle-show-done')

    ShowDoneButton.on('click',function(){
        console.log(ShowDoneButton.attr('aria-expanded'))
        var newText = ShowDoneButton.attr('aria-expanded') == 'false' ? '완료된 할일 숨기기' : '완료된 할일 보이기'
        ShowDoneButton.text(newText)
    })


    $('.toggle-done').on('click', function(){

        var todoId = this.dataset.todo
        var item = $(this)
        var checked = item.prop('checked')

        $.ajax({
            url: '/todo/'+todoId+'/toggle/',
            method:'post',
        })
        .then(function(result){
            item.prop('checked', result.done)
            if(result.done){
                item.parent().find('.todo-title').addClass('checked')
            }else{
                item.parent().find('.todo-title').removeClass('checked')
            }
        })
        .catch(function(error){
            item.props('checked',checked)
        })
    })
})
</script>
{% endblock %}